.container {
    width: 100%;
    margin-block: 10px;
}
.task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 12px;
  width: 100%;
  background-color: var(--gray-500);
  border-radius: 0.5rem;
  word-break: break-all;

  input {
    width: 1rem;
    cursor: pointer;     
  }
  
  .disabledButton {
    opacity: 0.2;       
    cursor: not-allowed; 
    pointer-events: none; /* garante que não clique */
  }


  .check {
    width: 1.25rem;        /* tamanho fixo */
    height: 1.25rem;       /* tamanho fixo */
    padding: 0;            /* remove padding que aumenta o tamanho */
    display: inline-block; /* não flex */
    border-radius: 50%;
    border: 2px solid var(--blue);
    appearance: none;
    background-color: transparent;
    cursor: pointer;

    &:checked {
      background-image: url(../../assets/checked.svg);
      background-size: cover;
      background-position: center;
      border-color: var(--purple);
    }

    &:before {
      content: ''; 
      position: absolute;
    }
  }

  button {
    width: 40px;
    height: 3.45rem;
    background-color: transparent;
    font-size: 0.875rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;

    img {
      width: 2rem;
    }
  }

  h2 {
    font-size: 0.875rem;
    color: var(--gray-100);
    font-weight: 500;
    word-wrap: break-word;
    padding-block: 0.7rem;
    padding-inline: 10px;
    flex: 1;
    display: flex;
    justify-content: center;
  }

  &.completed {
    text-decoration: line-through;
    color: var(--gray-300);
    opacity: 0.7;
  }
}
