.container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--black);
    padding-block: 4.5rem 5rem;
   
    width: 100vw;
    gap: 1rem;
}

img {
    width: 1.38rem;
    height: 2.2rem;
}

span {
    font-size: 2.5rem;
    line-height: auto;
    font-weight: bold;
}

.text {
    & span:nth-child(1){
        color: var(--blue);
    }

    & span:nth-child(2){
        color: var(--purple);
    }
}


