.header {
  width: 100vw;          /* full width */
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 25px;   /* espaçamento vertical */
}

.headerContent {
  max-width: 1200px;     /* limita o conteúdo centralizado */
  width: 100%;
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.text {
    font-size: 40px;
    font-weight: 700;
}

